<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>303785709302-lpng8ngec2dc11j7uj6pn06201ostbm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303785709302-lpng8ngec2dc11j7uj6pn06201ostbm9</string>
	<key>API_KEY</key>
	<string>AIzaSyAHNH9Jr9XC_FUJN5au6Rtkk5cmBDgM3WE</string>
	<key>GCM_SENDER_ID</key>
	<string>303785709302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.polotto.chatOnline</string>
	<key>PROJECT_ID</key>
	<string>chatonlineflutter-5c7b6</string>
	<key>STORAGE_BUCKET</key>
	<string>chatonlineflutter-5c7b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303785709302:ios:68a54dad80d22005</string>
	<key>DATABASE_URL</key>
	<string>https://chatonlineflutter-5c7b6.firebaseio.com</string>
</dict>
</plist>