<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>433132662986-5v9f28pfribf4jgims064g9hnn7j3kga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433132662986-5v9f28pfribf4jgims064g9hnn7j3kga</string>
	<key>API_KEY</key>
	<string>AIzaSyDMorx5pWP2tf4_bsk_hBq6kcszvIX4iNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>433132662986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.polotto.lojaVirtual</string>
	<key>PROJECT_ID</key>
	<string>lojaflutter-74fe4</string>
	<key>STORAGE_BUCKET</key>
	<string>lojaflutter-74fe4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433132662986:ios:f2e43d35e012d228</string>
	<key>DATABASE_URL</key>
	<string>https://lojaflutter-74fe4.firebaseio.com</string>
</dict>
</plist>